<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css">
    <title>itemList</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    </style>
</head>
<body>
<div class="container">
    <h2>item-list</h2>

    <table class="table">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.getId()}"></td>
            <td th:text="${item.getName()}"></td>
            <td th:text="${item.getPrice()}"></td>
            <td th:text="${item.getQuantity()}"></td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group-wrapper">
        <button type="button" class="btn btn-primary"
                onclick="location.href='item.html'"
                th:onclick="|location.href='@{/items/add}'|"
        >
            ADD
        </button>
    </div>
</div>
</body>
</html>