<html th:replace="layout/itempage :: layout(~{::title},~{::style},~{::.container})"
      xmlns:th="http://www.thymeleaf.org">
<title>itemList</title>
<style></style>
<div class="container">

    <h2>item-list</h2>

    <table class="table">
        <thead>
        <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">price</th>
            <th scope="col">quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td>
                <a th:text="${item.id}"
                   href="item.html"
                   th:href="@{/items/{itemId}(itemId=${item.id})}">
                </a>
            </td>
            <td>
                <a th:text="${item.name}"
                   href="item.html"
                   th:href="@{/items/{itemId}(itemId=${item.id})}">
                </a>
            </td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group-wrapper">
        <button type="button" class="btn btn-primary"
                onclick="location.href='item.html'"
                th:onclick="|location.href='@{/items/add}'|"
        >
            ADD
        </button>
    </div>

</div>
</html>